<div class="container">
    <a class="btn-floating pulse"><i class="material-icons">menu</i></a>
<a class="btn-floating btn-large pulse"><i class="material-icons">cloud</i></a>
<a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
<table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Item Name</th>
          <th>Item Price</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>$0.87</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>$3.76</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>$7.00</td>
      </tr>
    </tbody>
  </table>

</div>
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">Take the first step, then another.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Your life, your rules</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">self-discipline</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sport</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">self-development</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">do not give up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More more and more</a>
      </div>
    </div>
  </footer>
<div>
 
